@use 'styles/abstracts/variables' as vars;
@use 'styles/abstracts/mixins' as mixins;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4.375rem;
  padding: 0 2rem;
  background: vars.$color-white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
  @include mixins.flex(space-between, center, row);

  @media screen and (min-width: vars.$md) {
    width: calc(100% - 18rem);
  }

  .currentPage {
    gap: 2rem;
    @include mixins.flex(flex-start, center, row);

    &__text {
      display: none;
      font-size: 1.25rem;
      font-weight: 700;
      color: vars.$color-primary-grey;

      @media screen and (min-width: vars.$xs) {
        display: block;
      }
    }
  }

  .user {
    gap: 0.75rem;
    @include mixins.flex(flex-start, center, row);

    &__avatar {
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 100%;
    }

    &__name {
      text-align: left;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 700;
      color: vars.$color-primary-grey;
    }

    &__company {
      text-align: left;
      font-size: 0.75rem;
      line-height: 1rem;
      color: vars.$color-light-grey;
    }
  }
}
