/* Colors */
$color-green: #43be8d;
$color-primary-grey: #232233;
$color-secondary-grey: #d8d8d8;
$color-light-grey: #77838f;
$color-dark-grey: #1e2022;
$color-white: #ffffff;
$color-dark-white: #f6f6f6;
$color-red: #ff453a;
$color-light-blue: #f4f7fe;
$color-pet-green: #0de18c;
$color-pet-grey: #616161;
$color-pet-light-grey: #cccccc;

/* Typography */
$font-primary: 'Ubuntu';
$fallback-font: sans-serif;

/* Layout */
$max-width: 2160px;

/* Breakpoints */
$xxs: 329px;
$xs: 397px;
$xs-sm: 533px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
