/* Colors */
$lappka-green: #43be8d;
$lappka-primary-grey: #232233;
$lappka-secondary-grey: #d8d8d8;
$lappka-light-grey: #77838f;
$lappka-dark-grey: #1e2022;
$lappka-white: #ffffff;
$lappka-dark-white: #f6f6f6;
$lappka-red: #ff453a;
$lappka-light-blue: #f4f7fe;
$lappka-pet-green: #0de18c;
$lappka-pet-grey: #616161;
$lappka-pet-light-grey: #cccccc;

/* Typography */
$font-primary: 'Ubuntu';
$fallback-font: sans-serif;

/* Layout */
$max-width: 2160px;

/* Breakpoints */
$xxs: 329px;
$xs: 390px;
$xs-sm: 533px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
