@use 'styles/abstracts/variables' as vars;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  font-family: vars.$font-primary, vars.$fallback-font;
  outline-color: vars.$color-primary-grey;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: vars.$color-green vars.$color-dark-white;
}

*::selection {
  background-color: vars.$color-green;
  color: vars.$color-white;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: vars.$color-green;
}

body {
  background: vars.$color-white;
}
