@use 'styles/abstracts/variables' as vars;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  font-family: vars.$font-primary, vars.$fallback-font;
  outline-color: vars.$lappka-primary-grey;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: vars.$lappka-green vars.$lappka-dark-white;
}

*::selection {
  background-color: vars.$lappka-green;
  color: vars.$lappka-white;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: vars.$lappka-green;
}

body {
  background: vars.$lappka-white;

  @media screen and (min-width: vars.$md) {
    background: vars.$lappka-dark-white;
  }
}
