@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lappka-green: #43be8d;
  --lappka-dark-white: #f6f6f6;
  --lappka-primary-grey: #232323;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
  outline-color: var(--lappka-primary-grey);
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--lappka-green) var(--lappka-dark-white);
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  @apply bg-lappka-green;
}

input[type='password'] {
  letter-spacing: 0.125rem;
}

input[type='password']::placeholder {
  letter-spacing: normal;
}

.active-svg-white div svg path {
  fill: white;
}

.active-svg-white div svg ellipse {
  stroke: white;
}

.pets-list:last-child {
  margin-bottom: 3rem;
}

@media screen and (max-width: 850px) {
  .pagination-2 button:last-child {
    display: none;
  }
  .pagination-3 button:first-child,
  .pagination-3 button:last-child {
    display: none;
  }
  .pagination-one-before-last button:last-child {
    display: block;
  }
  .pagination-last button:first-child,
  .pagination-last button:last-child {
    display: block;
  }
}
